.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-gray);
  z-index: 100;
}

.navbar a {
  color: var(--text-gray);
  transition: all 0.3s ease-in;
}

.navbar a:hover {
  color: var(--primary);
}

.nav_list {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 0;
  font-size: 17px;
}
