.social_links {
  display: flex;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
}

.email {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-gray);
  font-family: var(--font-jetbrains);
  border: 1px solid var(--border-gray);
  transition: all 0.3s ease-in;
  height: 2rem;
  padding: 5px 10px;
  border-radius: 15px;
}

.email svg {
  color: var(--primary);
}

.email:hover {
  cursor: pointer;
  color: #fff;
}

.icon_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.icon_list a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-gray);
  border: var(--border-gray);
  border-radius: 50%;
  padding: 15px;
  transition: all 0.3s ease-in;
}

.icon_list a:hover {
  border: 1px solid var(--primary);
  color: var(--primary);
}
